:root{
  --main-color: #353136;
  --secondary-color: #9e856c;
  --paragraph-text-color: #fff;
  --fun-link-color: #5accae;
  --link-detail-color: #fad82f;
  font-family: 'Proza Libre','arial', sans-serif;
}
html, body {
  height: 100%;
}
nav{
  background-color: white;
  box-shadow: none;
  -webkit-box-shadow: none;
}
ul li ul {
  margin-left: 20px;
  font-size: 1em;
}
#Monstera{
  display: inline-block;
  max-width: 50px;
  transform: rotate(-45deg);
  margin-left: -15px;
  margin-bottom: -30px;
}
.center{
  text-align: center;
}
.row p{
  padding-right: 40px;
}
.portfolio{
  clear: both;
}
.portfolio-holder{
  clear: both;
  text-align: center;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.portfolio img {
  width: 100%;
}
.row-2{
  grid-row: span 2 / auto;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.grid {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header header header nav"
  "section section section section"
  "aside aside aside aside";
  grid-template-rows: auto auto 1fr auto auto;
  gap: 20px;
}
svg {
  min-width: 100px;
}
strong{
  font-size: 1.2em;
}
h1, h3, header h2{
  font-family: 'Permanent Marker', 'arial', sans-serif;
  
}

header{
  grid-area: header;
  padding:45px 15px;
}
nav{
  grid-area: nav;
}
ul {
  list-style-position: inside;
  padding-left: 0;
}

a {
  text-decoration-color: var(--link-detail-color);
  text-decoration-skip-ink: none;
  color: var(--fun-link-color);
  text-decoration-style:wavy;
}
section{
  grid-area: section;
  background: var(--main-color);
  padding: 60px 30px;
  color:#fcfdff; 
}
aside{
  grid-area: aside;
  background: var(--secondary-color);
  padding: 60px 30px;
  color:#fcfdff; 
}
aside img {
  margin: 40px 0px;
  background-color: white;
}
footer{
  grid-area: footer;
  background: black;
  color: var(--paragraph-text-color);
  padding: 60px 30px;
  margin: 0;
}
/*#index-banner1{
  transform: rotate(2deg);
}
#index-banner2{
  transform: rotate(-2deg);
}*/
#index-banner3{
    clip-path: polygon(0% 100%, 10% 100%, 10% 95%, 20% 95%, 20% 100%, 30% 100%, 30% 95%, 40% 95%, 40% 100%, 60% 100%, 60% 95%, 70% 95%, 70% 100%, 80% 100%, 80% 95%, 90% 95%, 90% 100%, 100% 100%,  100% 80%, 95% 80%, 95% 75%, 100% 75%, 100% 65%, 95% 65%, 95% 60%, 100% 60%, 100% 40%, 95% 40%, 95% 35%, 100% 35%, 100% 25%, 95% 25%, 95% 20%, 100% 20%, 100% 0%, 90% 0%, 90% 5%, 80% 5%, 80% 0%, 70% 0%, 70% 5%, 60% 5%, 60% 0%, 40% 0%, 40% 5%, 30% 5%, 30% 0%, 20% 0%, 20% 5%, 10% 5%, 10% 0%, 0% 0%, 0% 20%, 5% 20%, 5% 25%, 0% 25%, 0% 35%, 5% 35%, 5% 40%, 0% 40%, 0% 60%, 5% 60%, 5% 65%, 0% 65%, 0% 75%, 5% 75%, 5% 80%, 0% 80%);
}

@media screen and (min-width: 800px){
  :root{
    --main-color: #012b24;
    --secondary-color: #f4e3fc;
    --fun-link-color: #a465db;
  }
  .row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .grid{
      grid-template-areas:
        "header header header nav"
        "section section section aside";
    grid-template-rows: auto  1fr auto;
    /*transform: rotate(-3deg);*/
    margin: 70px;
    gap:0px;
    }
    svg{
      min-width: 200px; 
    }
    section {
      border-right: solid 12px black;
    }
    aside {
      color: black;
    }
    nav{
      display:flex;
      justify-content: space-around;
    }
    nav li {
      display: inline-flex;
    }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 70%;
  }
    #Monstera{
    max-width: 70px;
    margin-left: -30px;
    margin-bottom: -70px;
  }
}

@media screen and (min-width: 1700px){
    :root{
      --main-color: #2e3b59;
      --secondary-color: #faf8e6;
      --fun-link-color: #2e6b5b;
    }
  h1{
      font-size: 5em
    }
  h2{
    font-size: 2em;
    }
  h3{
    font-size: 1.9em;
  }
  p, li, header a{
    font-size: 1.4em;
  }
  svg{
    min-width: 300px; 
  }
  .grid{
      grid-template-areas:
        "header header header nav nav "
        "section section section aside aside";
    grid-template-rows: auto  1fr auto;
    /*transform: rotate(3deg);*/
    margin: 100px;
    }
  .skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  aside, section{
    padding: 60px 60px;
  }
  aside img {
    margin: 40px 100px;
  }
  section a, footer a {
    color: #ffffd9;
  }
  #Monstera {
    max-width: 100px;
    margin-left: -70px;
    margin-bottom: -100px;
  }
}
/* Materialize stuff */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

.card .card-title {
  font-size: 24px;
  font-weight: 300;
}

.card.small {
  position: relative;
}

.card.small .card-image {
  max-height: 60%;
  overflow: hidden;
}

.card.small .card-image + .card-content {
  max-height: 40%;
}

.card.small .card-content, .card.medium .card-content, .card.large .card-content {
  max-height: 100%;
  overflow: hidden;
}

.card.small {
  height: 300px;
}

.card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image {
  height: 100%;
  max-height: none;
  overflow: visible;
}

.card.sticky-action .card-reveal {
  z-index: 1;
  padding-bottom: 64px;
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card .card-image .card-title {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 24px;
}

.card .card-content {
  padding: 24px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
}

.card .card-content .card-title {
  display: block;
  line-height: 32px;
  margin-bottom: 8px;
}

.card .card-content .card-title i {
  line-height: 32px;
}

.card .card-action {
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  position: relative;
  padding: 16px 24px;
}

.card .card-action:last-child {
  border-radius: 0 0 2px 2px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #ffab40;
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: #ffd8a6;
}

.card .card-reveal {
  padding: 24px;
/*   position: absolute; */
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  left: 0;
  top: 100%;
  height: 100%;
  z-index: 3;
  display: none;
}

.card .card-reveal .card-title {
  cursor: pointer;
  display: block;
}
/* 2dp elevation modified*/
 .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.materialboxed {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  -webkit-backface-visibility: hidden;
}

.materialboxed:hover:not(.active) {
  opacity: .8;
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

#materialbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #292929;
  z-index: 10;
  will-change: opacity;
}

.materialbox-caption {
  position: fixed;
  display: none;
  color: #fff;
  line-height: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0% 15%;
  height: 50px;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
}
svg#all-star{
  z-index: 10000;
}
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
.valign-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section.no-pad-bot {
  padding-bottom: 0;
}

.section.no-pad-top {
  padding-top: 0;
}
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax img {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.parallax-container {
  min-height: 380px;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
